@import url('https://fonts.googleapis.com/css?family=Roboto');
.wrapper{
    height: 90vh;
    min-width: 850px;
    background-image: radial-gradient( circle 976px at 51.2% 51%,  rgba(11,27,103,1) 0%, rgba(16,66,157,1) 0%, rgba(11,27,103,1) 17.3%, rgba(11,27,103,1) 58.8%, rgba(11,27,103,1) 71.4%, rgba(16,66,157,1) 100.2%, rgba(187,187,187,1) 100.2% );
    color: white;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
    /* margin: 50px auto 0 auto;  */
    font-size: 24px;
    font-weight: 700;
}
.block{
    width: 250px;
    margin: 10px 50px;
    text-align: center;

}
.sumScoreComputer, .sumScoreUser{
    background-color: #7b68ee;
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px;
    font-size: 32px;
}
.score{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.score img{
    border-radius: 25px;
    box-shadow: 0 0 25px rgb(243, 184, 184);
    border: black 2px solid;
    width: 300px;
    height: 420px;
}
.start{
    align-self: center;
    text-align: center;
}
.generate{
    margin: 20px 40px 0 40px;
    background-color: #02bb02;
    padding: 30px 40px;
    border-radius: 10px;
    font-size: 2rem;
    font-weight: 600;
}

@keyframes flip {
	0% { transform:  rotate(0deg); }
	100% {transform: rotateX(360deg) }
  }
  .Anim{
	animation: flip 0.6s ease;
	animation-iteration-count: 1;
  }

  /* Modal */
  
.popup-fade {
	display: none;
}
.popup-fade:before {
	content: '';
	background: #000;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.7;
	z-index: 9999;
}
.popup {
	position: fixed;
	top: 50%;
	left: 50%;
	padding: 20px;
	width: 360px;
	margin-left: -100px;
	background: black;
	border: 1px solid orange;
	border-radius: 4px;
	z-index: 99999;
	opacity: 1;
}
.popup-close {
	position: absolute;
    margin-left: 30px;
	top: 10px;
	right: 10px;
}
